<table class="table table-striped">
        <tbody>
            <tr>
                <th>学号</th>
                <td>{{ info["sno"]}}</td>
                <th>姓名</th>
                <td>{{ info["sname"]}}</td>
            </tr>
            <tr>
                    <th>院系</th>
                    <td>{{ info["dname"]}}</td>
                    <th>宿舍号</th>
                    <td>{{ info["dormno"]}}</td>
            </tr>
            <tr>
                <th>性别</th>
                <td>{{ info["sex"]}}</td>
                <th>年龄</th>
                <td>{{ info["sage"]}}</td>
            </tr>
        </tbody>
    </table>