<!DOCTYPE html>
{% from "macro.html" import render_flied %}
<html>
    <header>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>主页</title>
    </header>
    <body class="container">
            <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">欢迎陈老师</li>
                      <li class="breadcrumb-item"><a href="#">退出</a></li>
                    </ol>
                  </nav>
        <div class="row">
        <div class="col-3">
                <ul class="list-group">
                   <a href="#" class="list-group-item list-group-item-action">修改密码</a>
                   <label class="list-group-item list-group-item-action list-group-item-info">管理</label>
                    <a href="#" class="list-group-item list-group-item-action">系别管理</a>
                    <a href="#" class="list-group-item list-group-item-action">课程管理</a>
                    <a href="#" class="list-group-item list-group-item-action">学籍管理</a>
                    <a href="#" class="list-group-item list-group-item-action">成绩管理</a>
                    <label class="list-group-item list-group-item-action list-group-item-info">查询</label>
                    <a href="#" class="list-group-item list-group-item-action">学生资料查询</a>
                    <a href="#" class="list-group-item list-group-item-action">学生成绩查询</a>
                </ul>
        </div>

        <div class="col-7" >
            <div class="container form-group">
                <form >
                    <div class="form-group row">
                    <label class="col-sm-2 col-form-label" >密码确定</label>
                    <div class="col-sm-6">
                   
                    </div>
                    </div>

                </form>
            </div>
        </div>
        </div>
    </body>
</html>