<div class="form-row" id="search_form">
    <div class="form-group col-md-2">
        <input type="text" id="sno" class="form-control" placeholder="学号">
    </div>
    <div class="form-group col-md-2">
        <input type="text" id="sname" class="form-control" placeholder="姓名">
    </div>
    <div class="form-group col-md-1.5">
        <select class="form-control" id="sex">
            <option value="all">性别</option>
            <option value="male">男</option>
            <option value="female">女</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <input type="text" id="dname" class="form-control" placeholder="院系">
    </div>
    <div class="form-group col-md-2">
        <input type="text" id="dormno" class="form-control" placeholder="宿舍号">
    </div>
    <div class="form-group col-md-2">
        <button id="manage_student_search" class="btn btn-primary">搜索</button>
    </div>


</div>
<button class="btn btn-info btn-sm " data-toggle="modal" data-target="#addModal">
    <span class="glyphicon glyphicon-plus"></span>
    新添
</button>
<table class="table  table-hover">

    <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>院系</th>
            <th>宿舍号</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% if table %}
        {% for row in table %}
        <tr id="{{row[0]}}">
            {% for td in row %}
            <td data-edit="true">{{td}}</td>
            {% endfor %}
            <td>
                <div class="form-row" style="color: rgb(232, 127, 104);">
                    <div class="form-group col-md-4" data-toggle="tooltip" data-placement="right" title="修改">
                        <i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#updateModal"></i>
                    </div>
                    <div class="form-group col-md-4" data-toggle="tooltip" data-placement="right" title="删除">
                        <i title="删除" class="glyphicon glyphicon-trash" data-toggle="modal"
                            data-target="#deleteModal"></i>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>

</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确让</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                确定删除该学生信息
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="deleteButton">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">更新</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" id="student_update_form" action="">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="updateSno">学号</label>
                            <input type="text" class="form-control" name="sno" id="updateSno" disabled="disabled">
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="updateSname">姓名</label>
                            <input type="text" class="form-control" name="sname" id="updateSname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="updateSex" name="sex">性别</label>
                            <select class="form-control" id="updateSex" name="sex">
                                <option value="male">男</option>
                                <option value="female">女</option>
                            </select>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="updateAge" name="age">年龄</label>
                            <input type="text" class="form-control" id="updateAge" name="age">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="updateDname">院系</label>
                            <input type="text" class="form-control" id="updateDname" name="dname">

                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="updateAge" name="dormno">宿舍号</label>
                            <input class="form-control" id="updateDormno" name="dormno">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="updateButton">更新</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新添</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" id="student_add_form" action="PUT">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="addSno">学号</label>
                            <input type="text" class="form-control" name="sno" id="addSno">
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="addSname">姓名</label>
                            <input type="text" class="form-control" name="sname" id="addSname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="addSex" name="sex">性别</label>
                            <select class="form-control" id="addSex" name="sex">
                                <option value="male">男</option>
                                <option value="female">女</option>
                            </select>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="addAge" name="age">年龄</label>
                            <input type="text" class="form-control" id="addAge" name="age">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="addDname" name="dname">院系</label>
                            <input type="text" class="form-control" id="addDname" name="dname">

                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="updateAge" name="dormno">宿舍号</label>
                            <input class="form-control" id="addDormno" name="dormno">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="addButton">提交</button>
            </div>
        </div>
    </div>
</div>

<div id="button_group" style="display: none">
    <button id="lastpage" class="btn btn-info">上一页</button>
    <button id="nextpage" class="btn btn-info">下一页</button>
</div>

<script>
    var deleteSno = null
    $(document).ready(function () {

        function showBoast(message, type) {
            bootoast({
                message: message,
                type: type,
                position: 'right-top',
                timeout: 5,
            })
        }

        $('.glyphicon-trash').click(function (e) {
            var td =  $(this).parents("tr").children()[0]
            deleteSno = $(td).text()
        });

        $('#deleteButton').bind("click", function () {
            data = {
                "sno": deleteSno
            }
            $.ajax({
                type: "DELETE",
                url: manage_student_url,
                data: JSON.stringify(data),
                contentType: "application/json;charset=uft-8",
                success: function (response) {
                    showBoast(response.message, response._type)
                    $(window).trigger("hashchange")
                    $(this).parents(".modal").modal("hide")
                    $('.modal-backdrop').remove()
                    $('body').removeClass("modal-open")
                }
            });
        })

        $('.glyphicon-pencil').click(function (e) {
            var children = $(this).parents().filter("tr").children()
            var form = $('#student_update_form').find(".form-control")
            for (var i = 0; i < children.length - 1; i++) {
                $(form[i]).val($(children[i]).text())
            }
        });

        $("#updateButton").click(function () {
            var form = $('#student_update_form').find(".form-control");
            data = {}
            $(form).each(function (element) {
                data[$(this).attr("name")] = $(this).val()
            });
            if (data["sno"].length <= 0) {
                showBoast("学号不能为空", "danger")
                return
            }

            $.ajax({
                type: "UPDATE",
                url: manage_student_url,
                data: JSON.stringify(data),
                contentType: "application/json;charset=uft-8",
                success: function (response) {
                    showBoast(response.message, response._type)
                    $(window).trigger("hashchange")
                    $(this).parents(".modal").modal("hide")
                    $('.modal-backdrop').remove()
                    $('body').removeClass("modal-open")
                }
            });
        })

        $("#addButton").click(function () {
            var form = $('#student_add_form').find(".form-control")
            var data = {}
            $(form).each(function (element) {
                data[$(this).attr("name")] = $(this).val()
            });

            if (data["sno"].length <= 0) {
                showBoast("学号不能为空", "danger")
                return
            }
            $.ajax({
                type: "PUT",
                url: manage_student_url,
                data: JSON.stringify(data),
                contentType: "application/json;charset=uft-8",
                success: function (response) {
                    showBoast(response.message, response._type)
                    $(window).trigger("hashchange")
                    $(this).parents(".modal").modal("hide")
                    $('.modal-backdrop').remove()
                    $('body').removeClass("modal-open")
                }
            });
        })

        $('#manage_student_search').click(function () { 
            var data = {}
            var form = $('#search_form').find(".form-control")
            $(form).each(function () {
                // element == this
                data[$(this).attr("id")] = $(this).val()  
            });

            $.ajax({
                type: "POST",
                url: manage_student_url,
                data: JSON.stringify(data),
                contentType:"application/json;charset=utf-8",
                success: function (response) {
                    showBoast(response.message,response._type)
                    $('tbody').html(response.html)
                }
            });
        });

        
    });
</script>