{% from 'macro.html' import render_flied %}

<div class="container form-group">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" >密码确定</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" placeholder="请输入原密码" id="old_passwd" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" >新密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" placeholder="请输入新密码" id="new_passwd" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" >密码确认</label>
                <div class="col-sm-6">
                        <input type="password" class="form-control" placeholder="请重复新密码" id="comfirmed_passwd" required>
                </div>
            </div>
            <button class="btn btn-primary" id="changePasswd">确定</button>  
            <small style="color: red" id="error"></small>
    </div>

    <script>
       $('input').bind('keydown',function(e){
            var key = e.which;
            ENTER_KEY = 13 ;
            if (key == ENTER_KEY)
                $('button').trigger('click')
        });
    </script>

