    <div class="form-row">
            <div class="form-group col-md-2">
                    <input type="text" id="sno" class="form-control" placeholder="学号">
        </div>
        <div class="form-group col-md-2">
            <input type="text" id="sname" class="form-control" placeholder="姓名">
        </div>
        <div class="form-group col-md-3">
            <input type="text" id="cname" class="form-control" placeholder="课程名">
        </div>
        <div class="form-group col-md-2">
            <button id="search_grade" class="btn btn-primary">搜索</button>
        </div>
    </div>
<table class="table table-striped" id="gradetable">
    <thead>
        <tr>
            <th>学号</th>
            <th>名字</th>
            <th>课程名</th>
            <th>分数</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="button_group" style="display: none">
        <button id="lastpage" class="btn btn-info">上一页</button>
        <button id="nextpage" class="btn btn-info">下一页</button>
</div>

<script>
        var csrftoken = $('meta[name=csrf-token]').attr('content')
        var page = 1
        var pages = 1
        var sname = ''
        var cno = ''
        var cname = ''

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
            }
        })
        function show_page_button(){
        $('#button_group').show()
        $nextpage = $('#nextpage')
        $lastpage = $('#lastpage')
        if (page == pages || pages === 0)
            $nextpage.hide()
        else
            $nextpage.show()
        if (page == 1)
            $lastpage.hide()
        else
            $lastpage.show()     
    }
    
    function pageChange(){
        var data = {
            'page' : page,
            'sname' : sname,
            'cno' : cno,
            'cname': cname,
        }
        $.ajax({
            type: "POST",
            url: search_grade_url,
            data: JSON.stringify(data),
            contentType: "application/json;charset=uft-8",
            success: function (data) {
                pages = data.pages
                $('tbody').html(data.html)
                show_page_button()
            }
        })
    }

    $('#nextpage').bind('click',function(){
        page = page + 1 
        pageChange();
    })

    $('#lastpage').bind('click',function(){
        page = page - 1 
        pageChange();
    })
</script>
